:root {
    --base-fs: 16px;
    --fs-1:0.9rem;
    --base-ff: "Roboto", sans-serif;
    --base-text-color: #333;
}   

*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color:#00000099;
}

h1,h2,h3,h4,h5,h6{
    all: unset;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: large;
}
  

header{
    background-color: #dfd;
    padding: 1rem;
    width: 72%;
    margin: auto;
}

main{
    height: 100%;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 72%;
    margin: auto;
}


table thead th{
    border-bottom: 1px solid black;
}

table td{
    padding: 4px;
    border-bottom: 1px solid #cec;
    font-size: var(--fs-1);
}

table tr:nth-of-type(even){
    background-color: #efe;
}

table{
    border-spacing: 0px;
}

table td img{
    border: 1px solid darkgreen;
    border-radius: 8px;

}

.width-5{
    width: 5%;
}

.text-align-center{
    text-align: center;
}

.text-align-start{
    text-align: start;
}